/* Catppuccin Latte */
$latte-rosewater: #e4b0ab;
$latte-flamingo: #e4a0a0;
$latte-pink: #dd90c5;
$latte-mauve: #9d86db;
$latte-red: #d85e6a;
$latte-maroon: #e07178;
$latte-peach: #e89f70;
$latte-yellow: #e5c07b;
$latte-green: #7eba88;
$latte-teal: #70b7b7;
$latte-sky: #7bc5e4;
$latte-sapphire: #75b1c5;
$latte-blue: #7aa2f7;
$latte-lavender: #9d7cd8;
$latte-text: #4b5563;
$latte-subtext1: #575d6b;
$latte-subtext0: #646b7a;
$latte-overlay2: #727988;
$latte-overlay1: #838ba1;
$latte-overlay0: #949cb1;
$latte-surface2: #acb2c0;
$latte-surface1: #bcc0cc;
$latte-surface0: #d4d8e3;
$latte-base: #f5f7fa;
$latte-mantle: #ebeef2;
$latte-crust: #e2e5eb;

/* Catppuccin Frappe */
$frappe-rosewater: #f2d5cf;
$frappe-flamingo: #eebebe;
$frappe-pink: #f4b8e4;
$frappe-mauve: #ca9ee6;
$frappe-red: #e78284;
$frappe-maroon: #ea999c;
$frappe-peach: #ef9f76;
$frappe-yellow: #e5c890;
$frappe-green: #a6d189;
$frappe-teal: #81c8be;
$frappe-sky: #99d1db;
$frappe-sapphire: #85c1dc;
$frappe-blue: #8caaee;
$frappe-lavender: #babbf1;
$frappe-text: #c6d0f5;
$frappe-subtext1: #b5bfe2;
$frappe-subtext0: #a5adce;
$frappe-overlay2: #949cbb;
$frappe-overlay1: #838ba7;
$frappe-overlay0: #737994;
$frappe-surface2: #626880;
$frappe-surface1: #51576d;
$frappe-surface0: #414559;
$frappe-base: #303446;
$frappe-mantle: #292c3c;
$frappe-crust: #232634;

$defaultTagBackgrounds: #8ea885, #df7988, #0177b8, #ffb900, #6b69d6;
$defaultTagColors: #fff, #fff, #fff, #fff, #fff;

/*
*   Global style
*/
:root {
    --main-top-padding: 35px;

    @include respond(xl) {
        --main-top-padding: 50px;
    }

    --body-background: #{$latte-base};
    --body-text-color: #{$latte-text};

    --accent-color: #{$latte-blue};
    --accent-color-darker: #{$latte-lavender};
    --accent-color-text: #{$latte-base};

    --tag-border-radius: 4px;

    --section-separation: 40px;

    --scrollbar-thumb: hsl(0, 0%, 85%);
    --scrollbar-track: var(--body-background);

    &[data-scheme="dark"] {
        --body-background: #{$frappe-base};
        --body-text-color: #{$frappe-text};

        --accent-color: #{$frappe-blue};
        --accent-color-darker: #{$frappe-lavender};
        --accent-color-text: #{$frappe-base};

        --scrollbar-thumb: hsl(0, 0%, 40%);
        --scrollbar-track: var(--body-background);
    }
}

/**
*   Global font family
*/
:root {
    --sys-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans", "Helvetica Neue";
    --zh-font-family: "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";

    --base-font-family: "Lato", var(--sys-font-family), var(--zh-font-family), sans-serif;
    --code-font-family: Menlo, Monaco, Consolas, "Courier New", var(--zh-font-family), monospace;
}

/*
*   Card style
*/
:root {
    --card-background: #{$latte-mantle};
    --card-background-selected: #{$latte-surface0};

    --card-text-color-main: #{$latte-text};
    --card-text-color-secondary: #{$latte-subtext1};
    --card-text-color-tertiary: #{$latte-subtext0};
    --card-separator-color: rgba(218, 218, 218, 0.5);

    --card-border-radius: 10px;

    --card-padding: 20px;

    @include respond(md) {
        --card-padding: 25px;
    }

    @include respond(xl) {
        --card-padding: 30px;
    }

    --small-card-padding: 25px 20px;

    @include respond(md) {
        --small-card-padding: 25px;
    }

    &[data-scheme="dark"] {
        --card-background: #{$frappe-mantle};
        --card-background-selected: #{$frappe-surface0};
        --card-text-color-main: #{$frappe-text};
        --card-text-color-secondary: #{$frappe-subtext1};
        --card-text-color-tertiary: #{$frappe-subtext0};
        --card-separator-color: rgba(255, 255, 255, 0.12);
    }
}

/**
*   Article content font settings
*/
:root {
    --article-font-family: var(--base-font-family);
    --article-font-size: 1.6rem;

   @include respond(md) {
        --article-font-size: 1.7rem;
    }

    --article-line-height: 1.85;
}

/*
*   Article content style
*/
:root {
    --blockquote-border-size: 4px;
    --blockquote-background-color: #{$latte-surface0};
    --blockquote-text-color: #{$latte-text};
    
    --pre-background-color: #{$latte-crust};
    --pre-text-color: #{$latte-text};
    
    --code-background-color: #{$latte-crust};
    --code-text-color: #{$latte-text};

    --heading-border-size: 4px;

    --link-background-color: 189, 195, 199;
    --link-background-opacity: 0.5;
    --link-background-opacity-hover: 0.7;

    --table-border-color: #{$latte-surface1};
    --tr-even-background-color: #{$latte-surface0};

    --kbd-border-color: #dadada;

    &[data-scheme="dark"] {
        --blockquote-background-color: #{$frappe-surface0};
        --blockquote-text-color: #{$frappe-text};
        
        --pre-background-color: #{$frappe-crust};
        --pre-text-color: #{$frappe-text};
        
        --code-background-color: #{$frappe-crust};
        --code-text-color: #{$frappe-text};

        --table-border-color: #{$frappe-surface1};
        --tr-even-background-color: #{$frappe-surface0};

        --heading-border-size: 4px;
    }
}

/*
*   Shadow style
*   Thanks to https://www.figma.com/community/plugin/744987207861965946/Shadow-picker
*/
:root {
    --shadow-l1: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l2: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l3: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l4: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
        0px 0px 1px rgba(0, 0, 0, 0.04);
}

[data-scheme="light"] {
    --pre-text-color: #272822;
    --pre-background-color: #fafafa;
    @import "partials/highlight/light.scss";
}

[data-scheme="dark"] {
    --pre-text-color: #f8f8f2;
    --pre-background-color: #272822;
    @import "partials/highlight/dark.scss";
}

:root {
    --menu-icon-separation: 40px;
    --container-padding: 15px;
    --widget-separation: var(--section-separation);
}
