/*
*   Style: monokai
*   https://xyproto.github.io/splash/docs/monokai.html
*/

$color: #{$frappe-text};
$background-color: #{$frappe-crust};
$error-color: #{$frappe-red};
$keyword-color: #{$frappe-mauve};
$text-color: #{$frappe-text};
$name-color: #{$frappe-green};
$literal-color: #{$frappe-peach};
$number-color: #{$frappe-pink};
$comment-color: #{$frappe-overlay1};
$operator-color: #{$frappe-sky};
$tag-color: #{$frappe-red};

@import "common.scss";
