/*
*   Style: monokailight
*   https://xyproto.github.io/splash/docs/monokailight.html
*/

$color: #{$latte-text};
$background-color: #{$latte-crust};
$error-color: #{$latte-red};
$keyword-color: #{$latte-mauve};
$text-color: #{$latte-text};
$name-color: #{$latte-green};
$literal-color: #{$latte-peach};
$number-color: #{$latte-pink};
$comment-color: #{$latte-overlay1};
$operator-color: #{$latte-sky};
$tag-color: #{$latte-red};

@import "common.scss";
